[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=New era of messaging
Exec=/home/kintsugi/Apps/Telegram/Telegram -- %U
Icon=org.telegram.desktop
Path=
Terminal=false
StartupNotify=false
